body {
    background-color: #232548;
    margin: 0; /* body의 기본 margin 제거 */
    padding: 0; /* body의 기본 padding 제거 */
}


@media(max-width : 768px){
    .movie{
        margin: 0 auto;
        max-width: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }
}


.movie {
    color: white;
    display: flex;
    justify-content: center; /* 세로 방향의 중앙 정렬 */
    align-items: center; /* 가로 방향의 중앙 정렬 */
    width: 100vw; /* 화면의 전체 너비를 차지하도록 설정 */
    height: 90vh; /* 화면의 전체 높이를 차지하도록 설정 */
}
