.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181b37;
  padding: 10px 20px;
}

.menuLogo {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.menuContainer {
  display: flex;
}

.menu {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.menu:hover {
  transform: scale(1.05);
  font-weight: bold;
}

.menu:hover {
  cursor: pointer;
}
