.navbar {
    width: 100%;
    background-color: #181b37;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menuContainer {
    display: inline-block;
  }
  
  .menu {
    color: white;
    margin: 0 8px;
    text-decoration: none;
  }
  
  .menuLogo {
    color: white;
    text-decoration: none;
    margin-left: 10px;
  }
  