body, h2, .find, .greeting {
  margin: 0;
}

.searchBox{
  display: flex;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* 화면 전체 높이만큼 요소를 채우도록 설정합니다. */
    background-color: #09121f;
    color: white; /* 글자 색상을 흰색으로 지정합니다. */
    padding: 20px; /* 적절한 여백을 설정합니다. */
}
.find {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212247;
    color: white;
  }
  
  .box {
    background-color: #ffffff; /* 하얀 배경색 */
    padding: 20px; /* 내부 여백 */
    border-radius: 30px; /* 박스 모서리 둥글게 만듦 */
    margin-left: 50px;
    width: 400px; /* 네모 박스의 너비 */
  }

  .search{
    cursor: pointer;
  }

  input{
    border: none;
    outline: none;
  }

  h1{
    margin: 40px;
  }
  
  h2 {
    text-align: center; /* 텍스트를 화면 가로의 가운데로 정렬합니다. */
  }

  .search {
    margin-left: 20px;
    font-size: 2rem; /* 아이콘 크기를 조절합니다. */
    display: flex;
    align-items: center; /* 아이콘을 수직 가운데로 정렬합니다. */
  }
