body, h2, .find, .greeting {
  margin: 0;
}

.searchBox{
  display: flex;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
    background-color: #09121f;
    color: white; 
    padding: 20px; 
}
.find {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212247;
    color: white;
  }
  
  .box {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 30px; 
    margin-left: 50px;
    width: 400px; 
  }

  .search{
    cursor: pointer;
  }

  input{
    border: none;
    outline: none;
  }

  h1{
    margin: 40px;
  }
  
  h2 {
    text-align: center; 
  }

  .search {
    margin-left: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .movieListContainer {
    max-height: 300px;
  }
  
  .movieList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .movieItem {
    position: relative;
  }
  
  .hoverInfo {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    display: none;
  }
  
  .movieItem:hover .hoverInfo {
    display: block;
  }
  
  .title {
    padding-left: 20px;
    padding-top: 10px;
  }
  
